@page
@model CollectionMenuModel
@{
}


<h1 class="display-2 text-center my-5">Duration Collections</h1>

<div class="row">
    <div class="col-lg-6">
        <div class="MainLabel">
            <span class="SubTopic display-5 text-center text-lg-start text-light">Current Duration</span>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <partial name="template/_TPDurationLinkItem" model="Model.DurationList"></partial>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="MainLabel">
            <span class="SubTopic display-5 text-light text-center text-lg-end">History</span>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <partial name="template/_TPDurationLinkItem" model="Model.AchivedDurationList" />
            </div>
        </div>
    </div>

</div>

<div class="my-5 row justify-content-center">
    <div class="col-lg-11">
        <a class="BtnPrimary w-100 text-center" asp-area="Creator" asp-page="DurationCreator">Create new Duration</a>
    </div>
</div>