@page
@model PrimaryExpenseManager
@{

    string durationTitle = "Duration's Primary Expense";
    string durationFinancial = "Duration Financial status";
    string primaryExpenseListTitle = "Exists Primary Expense";
    string managerTitle = "Primary Expense Manager";

    DateTime currentDate = DateTime.Now;
    DateTime? startingDate = Model.SelectedDuration?.StartingDate ;
    DateTime? endingDate = Model.SelectedDuration?.EndingDate;

    FullProgressBar durationFinancialProgress = new(){

        Value01 = (0).ToString("C"),
        Value02 = Model.SelectedDuration?.Balance.ToString() ?? "0",
        Value03 = Model.SelectedDuration?.TotalCost.ToString() ?? "0",

        Label01 = "Empty",
        Label02 = "Balance",
        Label03 = "Total Cost",

        Description = "Remain " + Model.SelectedDuration?.RemainingDays + " day will reach the end",
        Progress = Model.SelectedDuration?.Progress,
        Information = "Pregress " + Model.SelectedDuration?.Progress +"%"

    };

    FinancialStatus? totalCost = null;
    FinancialStatus? totalExpense = null;
    FinancialStatus? primaryExpense = null;
    FinancialStatus? balance = null;

    if (Model.SelectedDuration != null) { 
        totalCost = new(label: "Total Cost", value: string.Format("{0:C}", Model.SelectedDuration.TotalCost), status:0);
        totalExpense = new(label: "Total Expense", value: string.Format("{0:C}", Model.SelectedDuration.Expense), status:2);
        primaryExpense = new(label:"Primary Expense",value:string.Format("{0:C}",Model.SelectedDuration.PrimaryExpenses?.Sum(e => e.OrderingPrice) ?? 0),status:2);
        balance = new(label:"Balance",value:string.Format("{0:C}",Model.SelectedDuration.Balance),status:1);
    }

}

<h1 class="text-center MainTitle my-5">Primary Expense Manager</h1>
<partial name="asset/_SectorTitle" model="durationTitle" />
<div class="row">
    <div class="col-lg-3">
        <label class="InfoText">Select Term to edit</label>
        <form method="get" id="selectorDuration">
            <select asp-for="DurationId" asp-items="Model.DurationList" class="StyleWhite" id="durationList"></select>
        </form>
    </div>
    
    <div class="col-lg">
        <partial name="asset/_FullProgressBar" model="durationFinancialProgress"></partial>
    </div>

    
</div>

<div class="my-1">
    <partial name="asset/_SectorTitle" model="durationFinancial" />
    <div class="row">
        <div class="col-md">
            <partial name="asset/_FinancialStatus" model="totalCost" />
        </div>
        <div class="col-md">
            <partial name="asset/_FinancialStatus" model="totalExpense"></partial>
        </div>
        <div class="col-md">
            <partial name="asset/_FinancialStatus" model="primaryExpense"></partial>
        </div>
        <div class="col-md">
            <partial name="asset/_FinancialStatus" model="balance"></partial>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-6">
        <partial name="asset/_SectorTitle" model="primaryExpenseListTitle" />
        <partial name="asset/_ListMenu" model="Model.PrimaryExpenseList"></partial>
    </div>


    <!-- Primary Expense Manager -->
    <div class="col-lg-6">
        <partial name="asset/_SectorTitle" model="managerTitle" />
        <p class="text-danger text-center lead" id="messageForm"></p>
        <form method="post" id="ManagerForm">
            <div class="d-flex h-auto flex-column flex-md-row justify-content-between">

                <div class="d-flex h-auto flex-row flex-md-column flex-wrap justify-content-evenly justify-content-md-between">
                    <button id="AddBtn" asp-page-handler="Create" type="submit" class="BtnNormal m-1 SizeMenu">Add</button>
                    <button id="UpdateBtn" asp-page-handler="Update" type="submit" class="BtnNormal m-1 SizeMenu">Update</button>
                    <button id="DeleteBtn" asp-page-handler="Delete" type="submit" class="BtnNormal m-1 SizeMenu">Delete</button>
                    <button id="CancelBtn" type="reset" class="BtnNormal m-1 SizeMenu">Cancel</button>
                </div>

                <div class="w-100 mt-4 mt-md-0 ms-md-4">
                    <div class="mb-2">
                        <input asp-for="PrimaryExpenseForm.Name" class="Text" placeholder="Name Order" id="ExpenseName" />
                    </div>
                    <div class="mb-2">
                        <input asp-for="PrimaryExpenseForm.Price" class="Text" placeholder="Price Order" id="ExpensePrice" />
                    </div>
                    <div class="mb-2">
                        <input asp-for="PrimaryExpenseForm.OrderingDate" class="Text" placeholder="DateTime Order" id="Date" />
                    </div>
                    <div class="mb-2">
                        <input asp-for="PrimaryExpenseForm.DurationId" type="hidden" value="@Model.DurationId" />
                        <select asp-for="PrimaryExpenseForm.PaymentId" asp-items="Model.PaymentOptionList" name="SelectOption" class="StyleWhite">
                        </select>
                    </div>
                    <input type="submit" class="BtnPrimary w-100" value="Done"/>
                </div>
            </div>
        </form>
    </div>

</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="~/js/auto-selector-submit.js"></script>
    <script src="~/js/form-manager.js"></script>
}